.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media ( max-width: 425px ) {
    .loginPage {
        display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;
        padding-inline: 10px;
    }
}